<p>register works!</p>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img
          src="http://danielzawadzki.com/codepen/01/icon.svg"
          id="icon"
          alt="User Icon"
        />
      </div>
  
      <!-- Login Form -->
      <form>
        <input
          type="text"
          id=""
          class="fadeIn second"
          name="login"
          placeholder="เลขบัตรประชาชน"
        />
        <input
          type="text"
          id=""
          class="fadeIn second"
          name=""
          placeholder="ชื่อ"
        />
        <input
          type="text"
          id=""
          class="fadeIn third"
          name="login"
          placeholder="นามสกุล"
        />
        <input
          type="text"
          id=""
          class="fadeIn third"
          name="login"
          placeholder="อายุ"
        />
        <input
          type="text"
          id=""
          class="fadeIn third"
          name="login"
          placeholder="ที่อยู่ในทะเบียนบ้าน"
        />
        <input
          type="text"
          id=""
          class="fadeIn third"
          name="login"
          placeholder="ชื่อบิดา(ไม่ต้องใส่นามสกุล)"
        />
        <input
          type="text"
          id=""
          class="fadeIn third"
          name="login"
          placeholder="ชื่อมารดา(ไม่ต้องใส่นามสกุล)"
        />
        <input type="submit" class="fadeIn fourth" value="สมัครสมาชิก" />
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" [routerLink]="['/register']" >สมัครสมาชิก</a>
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
    </div>
  </div>
