<img
  class="img-fl side-logo bg-secondary shadow-sm"
  src="https://scontent.fhdy2-1.fna.fbcdn.net/v/t39.30808-6/309462958_541976867734525_9210095090840776950_n.png?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFY8V7Dr9WezyMYbp8psyHqpfe8lzDZlzml97yXMNmXOQx7ctNa05HeCrmrrvVrFz0YeBIqAT5NTJ361t29GNgU&_nc_ohc=xG2uKKrRsZkAX9xjVZc&_nc_zt=23&_nc_ht=scontent.fhdy2-1.fna&oh=00_AT94MjEh74fLwRDr2kXD8fcJUC-OcbsVlC-2mNjx_pkC_Q&oe=63453F62"
  alt=""
/>

<mat-nav-list dense>
  <a mat-list-item [routerLink]="['/menu']">
    <span mat-line><span class="mt-h4">Menu</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/4442/4442029.png"
      alt=""
    />
  </a>
  <a mat-list-item >
    <span mat-line><span class="mt-h4">Shop</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/3081/3081559.png"
      alt=""
    />
  </a>
  <mat-divider class="mt-3"></mat-divider>
  <h3 matSubheader>Dashboard</h3>
  <a mat-list-item href="...">
    <span mat-line><span class="mt-h4">Summary</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/3396/3396265.png"
      alt=""
    />
  </a>
  <a mat-list-item href="...">
    <span mat-line><span class="mt-h4">Customer</span></span>
    <img
      matListAvatar
      src="https://cdn-icons-png.flaticon.com/512/870/870175.png"
      alt=""
    />
  </a>
</mat-nav-list>
