<div class="row">
    <div class="col-md-4 pointer table-hover" [routerLink]="['/profiles']">
      <mat-card class="d-flex align-item-center">
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/942/942748.png"
          alt=""
        />
        <div class="d-flex flex-column">
          <div class="h3 mb-0">โปรไฟล์</div>
        </div>
      </mat-card>
    </div>

    <div class="col-md-4 pointer table-hover" [routerLink]="['/waiver']">
      <mat-card class="d-flex align-item-center">
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/2614/2614734.png"
          alt=""
        />
        <div class="d-flex flex-column">
          <div class="h3 mb-0">ผ่อนผันทหาร</div>
        </div>
      </mat-card>
    </div>

    <div class="col-md-4 pointer table-hover" [routerLink]="['/waiver/edit']">
      <mat-card class="d-flex align-item-center">
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/5267/5267928.png"
          alt=""
        />
        <div class="d-flex flex-column">
          <div class="h4 mb-0">สละสิทธิผ่อนผัน/จบการศึกษา</div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 pointer table-hover" [routerLink]="['/history']">
      <mat-card class="d-flex align-item-center">
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/2550/2550251.png"
          alt=""
        />
        <div class="d-flex flex-column">
          <div class="h3 mb-0">ประวัติการผ่อนผัน</div>
        </div>
      </mat-card>
    </div>

    <div class="col-md-4 pointer table-hover" [routerLink]="['/stock']">
      <mat-card class="d-flex align-item-center">
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/2979/2979677.png"
          alt=""
        />
        <div class="d-flex flex-column">
          <div class="h3 mb-0">Stock</div>
        </div>
      </mat-card>
    </div>

    <div class="col-md-4 pointer table-hover" [routerLink]="['/print']">
      <mat-card class="d-flex align-item-center">
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/839/839184.png"
          alt=""
        />
        <div class="d-flex flex-column">
          <div class="h3 mb-0">ปริ้นเอกสารผ่อนผัน</div>
        </div>
      </mat-card>
    </div>
  </div>